/ServerPackages
/DevPackages
/Packages
/Addons
/placefiles

/lune/**/*.png
/assets/icons/asphalt/processed
/.vscode/settings.json

uploader-plugin.project.json
/uploader-src

/bindings-package
/.build

*.rbxm
globalTypes.d.lua
sourcemap.json
*.ds_store